default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  database: backend_dev
  username: postgres
  password: postgres
  host: localhost

test:
  <<: *default
  database: backend_test